*{
    box-sizing: border-box;
}
.logo{
    height: 50px;
    display: flex;
    margin: 20px;
    padding: 50px;
    align-content: center;
    flex-wrap: wrap;
    
    
   
}
.nav{
    display: flex;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
    flex-wrap: wrap;
   
   }
.nav a{
    text-decoration: none;
    color: grey;
    margin: 0 15px;
}
.nav a:hover{
    color: rgb(82, 81, 81);
    transition: 0.3s;
    font-size: 25px;
    

}
.thebox{
    display: flex;
    background-color: rgb(91, 184, 153);
    color: white;
    font-family: sans-serif;
    font-weight: 2px;
    flex-wrap: wrap;
    

}

.thebox:hover{
    background-color: rgb(91, 154, 133);
    font-weight: 3px;

}
.para p{
    width: 700px;
    flex-wrap: wrap;

}
.content{
    display: grid;
    color: rgb(65, 64, 64);
    grid-template-columns: 1fr 2fr 1fr;
   
   
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: bottom 50px;;

}
.project h2 button{
    color: orange;
}



.project .company{
    display: grid;

}
.project .company2{
    display: grid;
    padding: 10px;

}

.client{
    display: grid;
    grid-template-columns:1fr 1fr


}
.client h2 button{
    color: orange;
}
.unisoft h1{
    color: rgb(167, 115, 18);



}




